div {
    background-size: cover;
}

.background {
    height: 600px;
    width: 900px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    
    background-color: black;
}

.fadeOut {
    animation: fadeOut 0.5s ease-in-out forwards;
}

@keyframes fadeOut {
    0%{filter: brightness(100%); opacity: 1;}
    100%{filter: brightness(0%); opacity: 0;}
}

.fadeIn {
    animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
    0%{filter: brightness(0%); opacity: 0;}
    100%{filter: brightness(100%); opacity: 1;}
}

.screen {
    height: 600px;
    width: 900px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.homeScreen {
    background-color: lightblue;
}


#startButton {
    height: 80px;
    width: 170px;
    text-align: center;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    cursor: pointer;

    background-color: white;
}


.orderScreen {
    background-color: lightpink;
    display: none;
}

.counter {
    height: 200px;
    width: 900px;

    position: fixed;
    top: 400px;
    background-color: lightslategray;
}

.customer {
    height: 250px;
    width: 200px;

    position: fixed;
    top: 500px;
    left: 150px;
    background-color: lightcoral;

    animation: customerUp 1s ease-in-out forwards;
}

@keyframes customerUp {
    0%{top: 500px;}
    100%{top: 150px;}
}


@keyframes customerDown {
    0%{top: 150px;}
    100%{top: 500px;}
}

.topSign {
    height: auto;
    width: max-content;
    font-size: 30px;
    padding: 20px;

    position: fixed;
    left: 50%;
    transform: translateX(-50%);

    background-color: lightcyan;

    animation: signDown 1s ease-in-out forwards;
}

@keyframes signDown {
    0%{top: -100px;}
    100%{top: 0px;}
}

@keyframes signUp {
    0%{top: 0px;}
    100%{top: -100px;}
}

.nextButton {
    height: 100px;
    width: 150px;
    background-color: lightgrey;
    position: fixed;
    right: -100%;
    top: 450px;
    cursor: pointer;

    animation-delay: 4s;
    animation: nextButtonRightAppear 2s ease-in-out forwards;

}

@keyframes nextButtonRightAppear {
    0%{right: -100%;}
    100%{right: 0%;}
}


@keyframes nextButtonRightDisappear {
    0%{right: 0%;}
    100%{right: -100%;}
}

.customerSpeechBubble {
    height: auto;
    width: 0px;
    padding: 20px;
    border-radius: 20px;

    position: fixed;
    top: 25%;
    left: 65%;
    transform: translateX(-50%);

    background-color: lightcyan;

    animation: expandRight 1s ease-in-out forwards, floating 2s ease-in-out infinite;
}

@keyframes floating {
    0%{top: 25%;}
    50%{top: 27%;}
    100%{top: 25%;}
}

@keyframes expandRight {
    0%{width: 0px;}
    100%{width: 300px;}
}


@keyframes speechBubbleDown {
    0%{top: 25%; width: 300px;}
    100%{top: 100%; width: 300px;}
}

.customerSpeechBubble span {
    font-size: 20px;
    width: 0ch;
    opacity: 0;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;

    animation: textTyping 1s steps(100) forwards;
    animation-delay: 1s;
}

@keyframes textTyping {
    from{width: 0ch; opacity: 1;}
    to{width: 100ch; opacity: 1;}
}

.money {
    font-size: 30px;
    position: fixed;
    top: 10px;
    right: 20px;
}


.mainDishScreen {
    background-color: lightyellow;
    opacity: 0;
    filter: brightness(0%);

    display: none;
}

.plate {
    height: 180px;
    width: 250px;
    background-color: green;

    position: fixed;
    left: -125px;
    bottom: 0px;

    animation: plateIn 1s ease-in-out forwards;
}

@keyframes plateIn {
    0%{left: -125px;}
    100%{left: 325px;}
}

@keyframes plateOut {
    0%{left: 325px;}
    100%{left: 900px;}
}

.selection {
    height: 150px;
    width: 150px;
    top: 150px;

    position: fixed;
    cursor: pointer;
}

.selection:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}

.pancakeButton {
    background-color: lightblue;
    left: 150px;
}

.toastButton {
    background-color: lightseagreen;
    left: 375px;
}

.eggsButton {
    background-color: lightsteelblue;
    left: 600px;
}

.minigame {
    height: 500px;
    width: 800px;
    background-color: lightgray;

    position: fixed;
    left: 50px;
    top: 50px;
    z-index: 10;
}

.closeButton {
    height: 50px;
    width: 50px;
    background-color: red;

    position: fixed;
    cursor: pointer;
    left: 800px;
}

.gameScreen {
    height: 400px;
    width: 750px;

    position: fixed;
    left: 75px;
    top: 130px;
    background-color: white;

    overflow: hidden;
}

#pancakePan {
    height: 150px;
    width: 350px;

    position: fixed;
    left: 275px;
    bottom: 150px;

    background-color: blue;

    cursor: pointer;
}

#sliderBar {
    height: 20px;
    width: 500px;

    background: linear-gradient(0.25turn, lightcoral, lightgreen, lightcoral);
    position: fixed;
    top: 170px;
    left: 200px;

    border-radius: 10px;
}

#sliderCircle {
    height: 50px;
    width: 50px;

    background-color: pink;
    position: fixed;
    top: 155px;
    left: 180px;

    border-radius: 100%;

    animation: sliderAnimation 1.5s infinite ease-in-out;
}

@keyframes sliderAnimation {
    0%{left: 180px;}
    50%{left: 680px;}
    100%{left: 180px;}
}

#pancakeGameTextDiv {
    position: fixed;
    text-align: center;
    background-color: pink;
    font-size: 20px;
    
    left: 50%;
    top: 250px;
    transform: translateX(-50%);
}

.nextGameButton {
    display: none;
    height: 60px;
    width: 100px;
    background-color: pink;

    position: fixed;
    top: 345px;
    left: 710px;

    cursor: pointer;
}